{% extends "modal.html" %}
{% block content %}
        <h3>[[ content[0][0].title ]]</h3>
        <div id="lg">
           <div ng-repeat="log in content[1]" class="alert alert-[[ log.type ]]">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>[[ log.name ]]</h4>
                <p>
                    [[ log.content ]]
                </p>
                <p>
                    [[ log.date ]]
                </p>
           </div>
        [[ content[0][1].info ]]
        </div>
    </body>
</html>
{%  endblock %}