{% extends "modal.html" %}
{% block content %}
    <h3>[[ content[0][0].title ]]</h3>
    <div id="info"></div>
    <form method="post" id="form0" enctype="application/x-www-form-urlencoded">
        <section ng-repeat="para in content[1]">
            <input type ="[[para.type ]]" name ="[[para.name ]]" value ="[[para.value ]]" required ="[[para.required ]]" pattern ="[[para.pattern ]]" placeholder ="[[para.placeholder ]]">&nbsp&nbsp<label class="label">[[ para.label ]]</label><br />
        </section>
        <button type="submit" class="btn btn-info">[[ content[0][1].button ]]</button>
    </form>
{% endblock %}