*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

input
{
    box-shadow:0px 0px 25px black;
}

footer
{
    font-size:14px;
    text-align:center;
}

.DesignCanvas
{
    position:absolute;
    top:15%;
    left:25%;
}

#tbw
{
    width:350px;
    height:20px;
    border-radius:15px;
    border:solid #000000 2px;
    overflow:hidden;
}

#cbw
{
    height:20px;
    text-align:center;
}

#main
{
    width:900px;
    height:600px;
}

.link
{
  fill: none;
  stroke-width: 3px;
}


#svgDevice, #cartoDevice
{
    z-index:42; //The Big Question of Life, the Universe and Everything
    border-radius:15px;
}

#svgBw, #cartoConnector
{
    z-index:1;
    border-radius:15px;
}

#map
{
    //z-index:0;
    border-radius:15px;
    border:solid #000000 2px;
    background-color:#EEEEEE;
}

#svgTotal
{
    border-radius:15px;
    border:outset #000000 3px;
    margin-left:auto;
    margin-right:auto;
}

#move
{
    z-index:43;
    width:60px;
    padding:5px;
    height:80px;
    position:absolute;
    top:18%;
    left:28%;
    background-color:black;
    border-radius:20px;
}

#pop
{
    width:400px;
    height:570px;
    padding:10px;
    border-radius:15px;
    border:solid #000000 2px;
    background-color:#EEEEEE;
    margin-left:20px;
    top:2%;
    z-index:44;
    overflow:auto;
}

#reset
{
    width:50px;
    height:15px;
    border-radius:50px;
    border:outset #ffffff 2px;
    background-color:red;
    -moz-transition:all 1s ease-in-out 0s;
    -ms-transition:all 1s ease-in-out 0s;
    -o-transition:all 1s ease-in-out 0s;
    -webkit-transition:all 1s ease-in-out 0s;
    text-align:center;
    font-weight:bolder;
    color:#ffffff;
}

#reset:hover
{
    width:50px;
    height:15px;
    border-radius:50px;
    border:inset #000000 2px;
    background-color:darkred;
    padding-bottom:2px;
    margin-left:auto;
    margin-right:auto;
    -moz-transition:all 1s ease-in-out 0s;
    -ms-transition:all 1s ease-in-out 0s;
    -o-transition:all 1s ease-in-out 0s;
    -webkit-transition:all 1s ease-in-out 0s;
}

#inf
{
    z-index:150;
}

#lg
{
    overflow:auto;
    max-height:550px;
}

.koko
{
    -moz-animation:konami 15s;
    -webkit-animation:konami 15s;
    -ms-animation:konami 15s;
    -o-animation:konami 15s;
}

.koko2
{
    -moz-animation:konami2 15s;
    -webkit-animation:konami2 15s;
    -ms-animation:konami2 15s;
    -o-animation:konami2 15s;
}

@-moz-keyframes konami
{
    0%
    {
        -moz-transform: translate(600px, 0px);
        -moz-transition:4s right,3s width,3s opacity;
    }
    12%
    {
        -moz-transform: translate(0px, 450px) rotate(180deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    25%
    {
        -moz-transform: translate(0px, -450px) rotate(90deg), scale(1);
        -moz-transition:4s right,3s width,3s opacity;
    }
    37%
    {
        -moz-transform: translate(-600px, 0px) rotate(90deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    50%
    {
        -moz-transform: translate(-600px, 0px);
        -moz-transition:4s right,3s width,3s opacity;
    }
    63%
    {
        -moz-transform: translate(0px, -450px) rotate(180deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    75%
    {
        -moz-transform: translate(0px, 450px) rotate(90deg), scale(1);
        -moz-transition:4s right,3s width,3s opacity;
    }
    87%
    {
        -moz-transform: translate(600px, 0px) rotate(90deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    93%
    {
        -moz-transform: scale(0);
        -moz-transition:4s right,3s width,3s opacity;
    }
    100%
    {
        -moz-transform: scale(1);
        -moz-transition:4s right,3s width,3s opacity;
    }
}

@-moz-keyframes konami2
{
    0%
    {
        -moz-transform: translate(-600px, 0px);
        -moz-transition:4s right,3s width,3s opacity;
    }
    12%
    {
        -moz-transform: translate(0px, -450px) rotate(180deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    25%
    {
        -moz-transform: translate(0px, 450px) rotate(90deg), scale(1);
        -moz-transition:4s right,3s width,3s opacity;
    }
    37%
    {
        -moz-transform: translate(600px, 0px) rotate(90deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    50%
    {
        -moz-transform: translate(600px, 0px);
        -moz-transition:4s right,3s width,3s opacity;
    }
    63%
    {
        -moz-transform: translate(0px, 450px) rotate(180deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    75%
    {
        -moz-transform: translate(0px, -450px) rotate(90deg), scale(1);
        -moz-transition:4s right,3s width,3s opacity;
    }
    87%
    {
        -moz-transform: translate(-600px, 0px) rotate(90deg);
        -moz-transition:4s right,3s width,3s opacity;
    }
    93%
    {
        -moz-transform: scale(2);
        -moz-transition:4s right,3s width,3s opacity;
    }
    100%
    {
        -moz-transform: scale(1);
        -moz-transition:4s right,3s width,3s opacity;
    }
}

@-webkit-keyframes konami
{
    0%
    {
        -webkit-transform: translate(600px, 0px);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    12%
    {
        -webkit-transform: translate(0px, 450px) rotate(180deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    25%
    {
        -webkit-transform: translate(0px, -450px) rotate(90deg), scale(1);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    37%
    {
        -webkit-transform: translate(-600px, 0px) rotate(90deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    50%
    {
        -webkit-transform: translate(-600px, 0px);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    63%
    {
        -webkit-transform: translate(0px, -450px) rotate(180deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    75%
    {
        -webkit-transform: translate(0px, 450px) rotate(90deg), scale(1);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    87%
    {
        -webkit-transform: translate(600px, 0px) rotate(90deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    93%
    {
        -webkit-transform: scale(0);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    100%
    {
        -webkit-transform: scale(1);
        -webkit-transition:4s right,3s width,3s opacity;
    }
}

@-webkit-keyframes konami2
{
    0%
    {
        -webkit-transform: translate(-600px, 0px);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    12%
    {
        -webkit-transform: translate(0px, -450px) rotate(180deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    25%
    {
        -webkit-transform: translate(0px, 450px) rotate(90deg), scale(1);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    37%
    {
        -webkit-transform: translate(600px, 0px) rotate(90deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    50%
    {
        -webkit-transform: translate(600px, 0px);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    63%
    {
        -webkit-transform: translate(0px, 450px) rotate(180deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    75%
    {
        -webkit-transform: translate(0px, -450px) rotate(90deg), scale(1);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    87%
    {
        -webkit-transform: translate(-600px, 0px) rotate(90deg);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    93%
    {
        -webkit-transform: scale(2);
        -webkit-transition:4s right,3s width,3s opacity;
    }
    100%
    {
        -webkit-transform: scale(1);
        -webkit-transition:4s right,3s width,3s opacity;
    }
}