<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <center>
            <h1>Don't panic</h1>
        <h4>and don't forget the towel</h4>
        <div style="background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48; border-radius: 4px 4px 4px 4px; font-size: 20px; line-height: 20px; padding:5px;">
            {{ type }}
        </div>
        <img src="/public/img/error.png">
        <p>
            42, The Big Question of Life, the Universe and Everything
        </p>
        </center>
    </body>
</html>