<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h3>Mode d'emploi</h3>
        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a0">
                        Racourcis
                    </a>
                </div>
                <div id="a0" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table border="1">
                            <tr>
                                <td>
                                    <i class="icon-arrow-left"></i>
                                </td>
                                <td>
                                    Déplace la vue sur la carte vers
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-arrow-up"></i>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-arrow-right"></i>
                                </td>
                                <td>
                                    Déplace la vue sur la carte vers
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-arrow-down"></i>
                                </td>
                                <td>
                                    Déplace la vue sur la carte vers
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-plus"></i><br />(pavé numérique)
                                </td>
                                <td>
                                    Zoom sur la carte
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-minus"></i><br />(pavé numérique)
                                </td>
                                <td>
                                    Dézoom sur la carte
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/public/img/mouse.png">
                                </td>
                                <td>
                                    Enfoncer le bouton gauche de la souris sur la carte.<br />
                                    Maintener le, puis bouger la souris.<br />
                                    Lorsque le bouton gauche ne sera plus enfoncé après le déplacement la vue se déplacera.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/public/img/mouse.png">
                                </td>
                                <td>
                                    Possibilité de zoom dézoom avec la molette de la souris
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a1">
                        Menu
                    </a>
                </div>
                <div id="a1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul>
                            <li>Scan : permet de configurer les scanners</li>
                            <li>Screenshot : permet d'enregistrer la carte actuel au format json</li>
                            <li>Visualiser : ouvre un nouvel onglet ou fenêtre afin de cartographier les cartes enregistrées</li>
                            <li>Journal : journal de log qui centralise des actions repéré sur le réseau</li>
                            <li>Paramétre ; permet de configurer les paramétre d'écoute pour la bande passante</li>
                            <li>Déconnexion : vraiment besoin d'expliquer ?</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a2">
                        Le manager
                    </a>
                </div>
                <div id="a2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Le manager sert à visualiser en direct le traffic de son réseau.<br />
                        Il permet de manipuler la carte via les racourcis (cf la partie racourcis).<br />
                        Lorsque la souris passe sur un des éléments de la carte la fenêtre latéral se remplira d'informations(ip, mac hostname...).<br />
                        Au moment où vous aurrez les informations d'une machine, il sera possible d'utiliser les fonctionnalités de mise ne écoute et d'os finger printing.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a6">
                        Le visualiseur
                    </a>
                </div>
                <div id="a6" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Permet de cartographier des cartes préalablement enregistrer au format json.<br />
                        Ce qui permet de voir la bande passante et les informations sur les machines.<br />
                        La manipulation de la carte est disponible. <br />
                        Les fonctionnalités d'os finger printing et de mise en écoute ne sont pas disponible<br />
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a3">
                        Os finger printing
                    </a>
                </div>
                <div id="a3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        La prise d'empreinte de la pile TCP/IP (en anglais : TCP/IP stack fingerprinting ou OS fingerprinting) est un procédé permettant en informatique de déterminer l'identité du système d'exploitation utilisé sur une machine distante en analysant les paquets provenant de cet hôte.<br />
                        Il vous suffira de cliquer sur "détecter l'os" lorsque vous aurez sélectionné une machine, puis d'attendre. Cette action peut prendre un certain temps.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a4">
                        Mise en écoute
                    </a>
                </div>
                <div id="a4" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Un analyseur de paquets est un logiciel pouvant lire ou enregistrer des données transitant par le biais d'un réseau local non-commuté. Il permet de capturer chaque paquet du flux de données (en) traversant le réseau.<br />
                        Pour que cette fonctionnalité fonctionne il faudra sélectionner une machine et que vous ayez rempli de formulaire.<br />
                        Ainsi vous récupérez un fichier pcap qui vous décrira le traffic de la machines ciblée.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#a5">
                        Konami code
                    </a>
                </div>
                <div id="a5" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Le code Konami est un cheat code qui peut être utilisé dans de nombreux jeux vidéo de Konami, activant généralement une option secrète.<br />
                        Il est parfois utilisé dans des logiciels<br />(liste des sites utilisant le code Konami <a href="http://fr.wikipedia.org/wiki/Liste_des_sites_webs_utilisant_le_code_Konami" target="_blank">ici</a> )<br />
                        cheat code : ↑ ↑ ↓ ↓ ← → ← → B A<br />
                        Let's try it !!! ;)
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>