<!DOCTYPE html>
<html>
    <head>
        <title>NetPolling</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="public/img/np.ico" type="image/x-icon">
        <link href="/public/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/public/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/public/css/design.css" media="screen" rel="stylesheet" type="text/css">
         <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="nav-collapse collapse" href="#">
                        <img src="/public/img/np_text_min.png">
                    </a>
                    <span class="nav-collapse collapse">
                            <a id="0" class="menu" role="button" class="label" >{% csrf_token %}
                                <button class="btn btn-inverse "><i class="icon-search icon-white"></i>Scan</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="1" class="menu" role="button" class="label">
                                <button class="btn btn-inverse"><i class="icon-screenshot icon-white"></i>Screenshot</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="2" class="menu" role="button" class="label">
                                <button class="btn btn-inverse"><i class="icon-eye-open icon-white"></i>Visualiser</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="3" class="menu" role="button" class="label">
                                <button class="btn btn-inverse"><i class="icon-th-list icon-white"></i>Journal</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="4" class="menu" role="button" class="label">
                                <button class="btn btn-inverse"><i class="icon-wrench icon-white"></i>Paramétre</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="5" class="menu" role="button" class="label">
                                <button class="btn btn-inverse"><i class="icon-off icon-white"></i>Déconnexion</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="6" class="menu" role="button" class="label">
                                <button class="btn btn-inverse"><i class="icon-book icon-white"></i>Aide</button>
                            </a>
                    </span>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
        <div id="main" class="bg">
            <div id="inf" class="container"></div>
            <div id="pop">
                <ul>
                    <li><a href="#i">Information</a></li>
                    <li><a href="#os">OS</a></li>
                    <li><a href="#search">Recherche</a></li>
                </ul>
                <div id="i">
                    <div id="d"></div>
                    <hr />
                    <form method="post" id="fsniff" enctype="application/x-www-form-urlencoded">
                        <div id="rsniff"></div>
                        <label for="name">Nom de l'écoute</label>
                        <input id="sname" type="text" required="true" data-toggle="button" placeholder="Listen_totor"><br />
                        <label for="name">temps de l'écoute (en seconde)</label>
                        <input id="stime" type="number" required="true" data-toggle="button" placeholder="60"><br />
                        <button id ="bsniff" class="btn btn-primary" data-toggle="button">Mise en écoute</button>
                    </form>
                </div>
                <div id="os"></div>
                <div id="search">
                    
                </div>
            </div>
            <div id="move">
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <i id="m0" class="mapcontroll icon-chevron-up icon-white">
                        </td>
                        <td></td>
                        <td><i id="m4" class="mapcontroll icon-plus-sign icon-white"></td>
                    </tr>
                    <tr>
                        <td><i id="m1" class="mapcontroll icon-chevron-left icon-white"></td>
                        <td></td>
                        <td><i id="m2" class="mapcontroll icon-chevron-right icon-white"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <i id="m3" class="mapcontroll icon-chevron-down icon-white">
                        </td>
                        <td></td>
                        <td><i id="m5" class="mapcontroll icon-minus-sign icon-white"></td>
                    </tr>
                </table>
                <div id="reset">reset</div>
            </div>
            <div id="svgDevice" class="DesignCanvas"></div>
            <div id="svgBw" class="DesignCanvas"></div>
            <div id="svgSearch" class="DesignCanvas"></div>
            <!--<canvas id="cartoDevice" width="750" height="500"></canvas>
            <canvas id="cartoConnector"></canvas>-->
        </div>
        {% endblock %}
        {% block modal %}
        <div id="option" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>

                <div id="dispopt"></div>
            </div>
        </div>
        {% endblock %}
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <script src="/public/js/jquery-2.0.0.min.js"></script>
        <script src="/public/js/jquery.mousewheel.js"></script>
        <!--<script src="/public/js/jquery.event.drag-2.0.min.js"></script>-->
        <script src="/public/js/jquery-ui-1.10.3.custom.min.js"></script>
        <!--<script src="/public/js/jcanvas.min.js"></script>-->
        <!--<script src="/public/js/fabric.min.js"></script>-->
        <!--<script src="/public/js/kinetic-v4.5.2.min.js"></script>-->
        <script src="/public/js/raphael-min.js"></script>
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/js/net.js"></script>
    </body>
</html>