<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="hero-unit">
            <img src="/public/img/search.png">
            <h3>Option de scan</h3><br />
            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#form0">
                            Scan Local
                        </a>
                    </div>
                    <div id="form0" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <form method="post" id="local" enctype="application/x-www-form-urlencoded">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="local">
                                <input id="l-ip" name="l-ip" type="checkbox">&nbsp&nbsp<label class="label">Adresse IP</label><br />
                                <input id="l-mac" name="l-mac" type="checkbox">&nbsp&nbsp<label class="label">Adresse MAC</label><br />
                                <input id="l-os" name="l-os" type="checkbox">&nbsp&nbsp<label class="label">Système d'exploitation</label><br />
                                <input id="l-name" name="l-name" type="checkbox">&nbsp&nbsp<label class="label">Nom de la machine</label><br />
                                <button type="submit" class="btn btn-info">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#form1">
                            Scan externe
                        </a>
                    </div>
                    <div id="form1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <form method="post" id="extern" enctype="application/x-www-form-urlencoded">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="extern">
                                <input id="e-ip" name="e-ip" type="checkbox">&nbsp&nbsp<label class="label">Adresse IP</label><br />
                                <input id="e-mac" name="e-mac" type="checkbox">&nbsp&nbsp<label class="label">Adresse MAC</label><br />
                                <input id="e-os" name="e-os" type="checkbox">&nbsp&nbsp<label class="label">Système d'exploitation</label><br />
                                <input id="e-name" name="e-name" type="checkbox">&nbsp&nbsp<label class="label">Nom de la machine</label><br />
                                <button type="submit" class="btn btn-info">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>