<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h3>Screenshot</h3><br />
        <p>
            Vous pouvez enregistrer une image de la carte actuelle
        </p>
            <form method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <label class="label">Nom de la machine</label>&nbsp&nbsp<input id="name" name="name" type="text"><br />
                <button type="submit" class="btn btn-info">Sauvegarder</button>
            </form>
    </body>
</html>