<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="hero-unit">
            <img src="/public/img/map.png">
            <h3>Cartographie de réseaux</h3><br />
            <div id="info"></div>
            <form method="post" id="form0" enctype="application/x-www-form-urlencoded">
               <label for="type">Choisissez un scan à visualiser</label>
               <select name="type" id="type">
                   {% for i in data %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% empty %}
                            <option value="">Aucune carte n'est disponible</option>
                   {% endfor %}
               </select><br />
               <input type="submit" class="btn btn-primary" data-toggle="button" value="Cartographier">
            </form>
        </div>
    </body>
</html>