*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

input
{
    box-shadow:0px 0px 25px black;
}

.DesignCanvas
{
    position:absolute;
    top:15%;
    left:25%;
}

#main
{
    width:900px;
    height:600px;
}

#svgDevice
{
    z-index:42;
    border-radius:15px;
    border:solid #000000 2px;
}

#svgBw
{
    z-index:0;
    border-radius:15px;
    border:solid #000000 2px;
    background-color:#EEEEEE;
}