<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>NetPolling</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../public/img/np.ico" type="image/x-icon">
        <link href="/public/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/public/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="nav-collapse collapse" href="#"><img src="/public/img/np_text_min.png"></a>
                    <span class="nav-collapse collapse">
                        <a id="17" class="menu" data-target="#myCo" href="/co/" role="button" class="label" data-toggle="modal"><button class="btn btn-inverse"><i class="icon-user icon-white"></i>Connexion</button></a>
                    </span>
                    <span class="nav-collapse collapse">
                        <a href="/visitor/" target="_blank" role="button" ><button class="btn btn-inverse"><i class="icon-th icon-white"></i>Visiteur</button></a>
                    </span>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
        {% if cls and why%}
            <div class="container alert alert-{{ cls }}">{{ why }}</div>
        {% endif %}
        <div class="container-fluid">
            <h1 style="text-align:center;"><img class="container" src="/public/img/np_logo.png" /><br />Surveillez et sécurisez votre réseau en toute simplicité </h1><br />
            <div class="row-fluid">
                <div class="span4">
                    <div class="hero-unit">
                        <h2>Pitch</h2>
                        <p>
                            Problèmes de sécurité?<br />Pas de temps pour surveiller vos réseaux?<br />Mobile, PC ou tablette, vous pourrez savoir qui utilise votre réseau grâce à notre interface web dynamique. Net Polling vous permettra d'avoir sous forme de carte, une représenation de ce qu'il se passesur votre réseau, le surveiller n'aura jamais été aussi facile !
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit">
                        <h2>Para 2</h2>
                        <p>
                            Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit">
                        <h2>Para 3</h2>
                        <p>
                            Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block modal %}
        <div id="myCo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3>Connexion</h3>
            </div>
            <form action="/connect/" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Connexion</button>
                </div>
            </form>
        </div>
        {% endblock %}
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        {% load static %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>