<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h3>Paramètres</h3>
        <div id="info"></div>
        <form method="post" id="form0" enctype="application/x-www-form-urlencoded">
            {% for t in data %}
                <label class="label"></label>Coefficiant de déplacement&nbsp&nbsp<input required="true" pattern="^[0-9]{1,}$" placeholder=""  name="pinterface" type="number" value="{{ t.bw }}"><br />
                <label class="label"></label>Coefficiant de zoom sur les équipements&nbsp&nbsp<input required="true" pattern="^[0-9]{1,}$" placeholder=""  name="pinterface" type="number" value="{{ t.bw }}"><br />
                <label class="label"></label>Coefficiant de zoom sur les liens&nbsp&nbsp<input required="true" pattern="^[0-9]{1,}$" placeholder=""  name="pinterface" type="number" value="{{ t.bw }}"><br />
            {% endfor %}
            <button type="submit" class="btn btn-info">Sauvegarder</button>
        </form>
    </body>
</html>