<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="hero-unit">
            <img src="/public/img/search.png">
            <h3>Option de scan</h3><br />
            <div id="info"></div>
            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#acco">
                            Scan Local
                        </a>
                    </div>
                    <div id="acco" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <form method="post" id="form0" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="type" value="local">
                                {% for t in data %}
                                    {% if t.type == 0  %}
                                        <input id="l-name" required="true" placeholder="iti" pattern="^[A-Za-z0-9_]{1,}$" name="name" type="text" value="{{ t.name }}">&nbsp&nbsp<label class="label">Nom du scan</label><br />
                                        <input id="l-mask" required="true" placeholder="10.8.96.0/20" pattern="^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2}$" value="{{ t.netmask }}" name="mask" type="text">&nbsp&nbsp<label class="label">Masque réseau</label><br />
                                        <input id="l-interface" required="true" placeholder="eth0" pattern="^[A-Za-z0-9]{1,}$" value="{{ t.interface }}" name="interface" type="text">&nbsp&nbsp<label class="label">Interface réseau</label><br />
                                    {% endif %}
                                {% endfor %}
                                <button type="submit" class="btn btn-info">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accord">
                            Scan externe
                        </a>
                    </div>
                    <div id="accord" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <form method="post" id="form1" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="type" value="extern">
                                {% for t in data %}
                                    {% if t.type == 0  %}
                                        <input id="e-name" required="true" placeholder="iti" pattern="^[A-Za-z0-9_]{1,}$" name="name" type="text" value="{{ t.name }}">&nbsp&nbsp<label class="label">Nom du scan</label><br />
                                        <input id="e-mask" required="true" placeholder="10.8.96.0/20" pattern="^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2}$" value="{{ t.netmask }}" name="mask" type="text">&nbsp&nbsp<label class="label">Masque réseau</label><br />
                                        <input id="e-interface" required="true" placeholder="eth0" pattern="^[A-Za-z0-9]{1,}$" value="{{ t.interface }}" name="interface" type="text">&nbsp&nbsp<label class="label">Interface réseau</label><br />
                                    {% endif %}
                                {% endfor %}
                                <button type="submit" class="btn btn-info">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>